SERVER_HOST="IP ADDRESS OR HOSTNAME"
APP_NAME="web_test"
#SSH_COMMAND="ssh -oHostKeyAlgorithms=+ssh-dss root@$SERVER_HOST" # For Digital Ocean
SSH_COMMAND="ssh -t -i ~/.ssh/YOUR_KEY.pem ubuntu@$SERVER_HOST" # For AWS
